<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="WorldDatabase" connectionString="Server=192.241.204.112;User Id=wesko;Port=3306;Password=test123;Database=mangos;Allow Zero Datetime=True;Min Pool Size = 25;Max Pool Size=150;CharSet=utf8"/>
    <add name="CharactersDatabase" connectionString="Server=192.241.204.112;User Id=wesko;Port=3306;Password=test123;Database=characters;Allow Zero Datetime=True;Min Pool Size = 25;Max Pool Size=150;CharSet=utf8"/>
    <add name="RealmDatabase" connectionString="Server=192.241.204.112;User Id=wesko;Port=3306;Password=test123;Database=realmd;Allow Zero Datetime=True;Min Pool Size = 25;Max Pool Size=150;CharSet=utf8"/>
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
